.jumbotron {
    background-color: black;
}

.title {
    text-align: center;
    color: darkred;
}

.description {
    text-align: center;
    color: darkred;
}

.gameScore {
    text-align: right;
    color: lightskyblue;
    margin-right: 75px;
}